<% provide(:title, "Top") %>
</div>
<div class="background-top">
    <div class="logo-top">
      <h1>Time-Active</h1>
    </div>
    <div>
    <%= link_to "ユーザー登録", signup_path, class: "start" %>
</div>
</div>