<% provide(:title, "トップ") %>
</div>
<div class="background-top">
    <div class="logo-top">
      <h1>Time-Active</h1>
    </div>
    <div class = "center">
    <%= link_to "ユーザー登録", signup_path, class: "btn btn-open" unless logged_in?%>
    </div>
</div>