<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>Time-Active</h1>
  <p></p>
  <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map3</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .sample {
        width: 100px;
        height: 50px;
      }
    </style>
  </head>
  <body>
    <div id="map" style="height: 500px; width: 50%; margin: 2rem auto 0;"></div>
    <button id="getcurrentlocation">getcurrentlocation</button>


    <!-- jquery読み込む -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- google map api -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIff7wNQW9YbfbdF1mff_msv4CNNF_oRc&libraries=places"
    ></script>
    <!-- js -->
    <script src="index3.js" async></script>

  </body>
</html>